{{route-header title="EDUCATION" icon="university" imgName="education"}}
{{section-title title="University" icon="fa fa-graduation-cap"}}
<div class="row">
  <div class="col-md-6 university col-md-offset-5 bg-shark scale">
    <div class="header">
      <h3><a href="http://vfu.bg/en/" target="_blank">
        VARNA FREE UNIVERSITY</a>
      </h3>
      <p>2007 - 2012</p>
      <p>International Business</p>
      <p>Management and Tourism Management</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12  university bg-shark">
    {{toggle-text default="<i>Let me begin by saying that attending the university was one of the biggest mistakes I've made. Don't get me wrong - if you want to learn there - you can. But unfortunately the staff and teachers don't do anything to make the process easier for you, despite the fact that the taxes were the highest ones in Bulgaria at the time.</i>" left="<i>At the end of the secondtext-alignyear, I started working for <a href=\"http://4xchange.bg/?lang=en\" target=\"_blank\">TopChange</a>(The biggest foreign currency exchange company in Bulgaria atthat time) and at the end of the summer,they offered me to go to <a  href=\"https://en.wikipedia.org/wiki/Bansko\"  target=\"_blank\">Bansko</a>, working asan Assistant Regional Manager for the winter season. The idea was to betaught and prepared for the next summer season, and work asa Regional Manager. So I had a decision to make.Should I stay at the university and learn nothingor pause it for a year and learn from the best. I went to <a href=\"https://en.wikipedia.org/wiki/Bansko\"  target=\"_blank\">Bansko</a>,where the company had 12 offices and 40 peopleworking there. During the summer season, I was a Regional Manager at <a href=\"https://en.wikipedia.org/wiki/Saints_Constantine_and_Helena,_Bulgaria\"  target=\"_blank\">Saints Constantine and Helena</a>, where the company had6 offices and 17 people. The whole scenario repeated with a littledifference - the next summer I was Assistant Regional Manager at <a href=\"https://en.wikipedia.org/wiki/Golden_Sands\"  target=\"_blank\">Golden Sands</a>- 60 offices and around 200 people (while working there,the pressure I was under, and decision making I had to make, have beenthe hardest and most impactful in my entire life up until this point).Then, I resumed the education and lost (LOST) a whole year, seeing <a href=\"https://www.youtube.com/watch?v=6dluwVks444\" target=\"_blank\"><b>how people teach you what to think, not how to think</b></a> (see  <a href=\"https://www.youtube.com/watch?v=Fb_bTUJp39o\" target=\"_blank\">this</a> as well). For me,this is a huge problem (and mistake), so in September 2011,(after one more season at <a href=\"https://en.wikipedia.org/wiki/Golden_Sands\"  target=\"_blank\">Golden Sands</a>)I paused again, and at 2012 I officially quit, due to the fact,that my paradigm for teaching and learning differ with the established one. I quit the university and startedspending my time on programming. This was and still is the best choice in my life.</i>"}}
  </div>
</div>
{{section-title title="High School" icon="fa fa-book"}}
<div class="row bg-shark p50">
  <div class="col-md-8 text-center">
    <h3><a href="http://vfu.bg/en/" target="_blank">
      HIGH SCHOOL WITH FOREIGN LANGUAGES</a><br>
      "GEO MILEV" - DOBRICH
    </h3>
    <p>2002 - 2007</p>
    <p><b>French and German</b></p>
  </div>
  {{next-route route="about.languages" title="Languages"}}
</div>