<h1>FAQs</h1>
<hr>
<div class="row bg-effect services">
  <div class="col-md-12 p50">
    <h3 class="question">What is the purpose of this site?</h3>
    <p>"Vodka is a luxury we have. Caviar is a luxury we have. Time is not." - Nikita Khrushchev (Enemy at the Gates)</p>
    <p class="justify">I would like to provide my answers to common questions, so we can quickly move on and focus on other problems and project related questions.</p>
  </div>
</div>
{{transiting-line}}
<hr>
<div class="row bg-effect services">
  <div class="col-md-12 p50">
    <h3 class="question">Where can I find the source code of this website?</h3>
    <p><a href="https://github.com/ivaylopivanov/about" target="_blank">Here</a></p>
  </div>
</div>
{{transiting-line}}
<hr>
<div class="row bg-effect services">
  <div class="col-md-12 p50">
    <h3 class="question">Why is there no "contact-me form"?</h3>
    <p class="justify">Primarily, because I don't want to deal with spam - time optimisation again.</p>
  </div>
</div>
{{transiting-line}}
<hr>
<div class="row bg-effect services">
  <div class="col-md-12 p50">
    <h3 class="question">What kind of information do you need when a new job / project is offered to you?</h3>
    <p>Any kind, as much as possible.</p>
    <p class="justify">From a project's perspective, I'll need to know how you want / don't want the product to look like / to work. I'll need any details You can provide and depending on the project - a fallback plan, if You have one.</p>
    <p class="justify">From a job's perspective, I would like to know the team - how much experience they have, concentrations (fron-end, back-end, full stack), projects, programming languages, github profiles, which developing methodologies and deployment strategies they use. These things are important to me. Although I'm the senior at E-Motive, I'll consider a job offer only if the company has at least two senior developers with enough big projects in their portfolio, so I can be the mid level dev, learning from them. In other words, the most important thing for me is to work with people from whom I can learn - not the money.  </p>
  </div>
</div>
{{transiting-line}}
<hr>
<div class="row bg-effect services">
  <div class="col-md-12 p50">
    <h3 class="question">Are you willing to relocate for a job?</h3>
    <p class="justify">Depends on the company and the team. See the above question.</p>
  </div>
</div>
{{transiting-line}}
<hr>
<div class="row bg-effect services">
  <div class="col-md-12 p50">
    <h3 class="question">What salary do you expect?</h3>
    <p class="justify">Depends on the project, the company, the team, and the location. Salary is negotiable, after I have done some research based on the provided information.</p>
  </div>
</div>
{{transiting-line}}
<hr>
<div class="row bg-effect services">
  <div class="col-md-12 p50">
    <h3 class="question">Do you want a similar kind of job to your existing one?</h3>
    <p class="justify">Although exceptions are possible, I would prefer developing embedded applications and / or home automation related.</p>
  </div>
</div>
{{transiting-line}}
