<div id="name-container" class="row bg-effect">
  <div class="col-md-5">
    {{lettering-effect word="Ivaylo"}}
  </div>
  <div class="col-md-2 text-center">
    {{lettering-effect word="☆"}}
  </div>
  <div class="col-md-5">
    {{lettering-effect word="Ivanov"}}
  </div>
  <div class="col-md-12 ml10">
  <p>{{animate-text delay="+=0.5" text="I don't have dreams, I have goals. That's why I don't get lucky. I make my own luck."}}</p>
  </div>
</div>
<hr>
<div class="row">
  {{block-quote delay="+=1.1" quote="If you think we can’t change the world, It just means you're not one of those that will." from="Jacque Fresco"}}
  {{block-quote delay="+=1.5" quote="In today's world, when everything is accessible through the internet, to be uneducated is a choice." from="Ivaylo Ivanov"}}
  {{block-quote delay="+=1.9" quote="Everything we hear is an opinion, not a fact. Everything we see is a perspective, not the truth." from="Marcus Aurelius"}}
  {{block-quote delay="+=2.3" quote="Our prime purpose in this life is to help others. And if you can't help them, at least don't hurt them." from="Dalai Lama"}}
</div>
{{transiting-line}}
