{{route-header title="LANGUAGES" icon="language" imgName="languages"}}
{{section-title title="Natural" icon="fa fa-comments"}}
<div class="row  fade-in bg-shark p50 scale text-center">
  <div class="col-md-3">
    <h3>Bulgarian</h3>
    <p>Native</p>
  </div>
  <div class="col-md-3">
    <h3>English</h3>
    <p>Working level</p>
  </div>
  <div class="col-md-3">
    <h3>French</h3>
    <p>From High School</p>
  </div>
  <div class="col-md-3">
    <h3>Russian</h3>
    <p>Working level</p>
  </div>
</div>
{{section-title shouldFade=true title="Programming" icon="fa fa-code"}}
<div class="row  fade-in languages">
  <div class="col-md-3 p0">
    <img src="images/languages/php.png">
    <span>Full Professional</span>
  </div>
  <div class="col-md-3 p0">
    <img src="images/languages/node.png">
    <span>Full Professional</span>
  </div>
  <div class="col-md-3 p0">
    <img src="images/languages/c.png">
    <span>Non-Professional</span>
  </div>
  <div class="col-md-3 p0">
    <img src="images/languages/c++.png">
    <span>Non-Professional</span>
  </div>
</div>
<div class="row  fade-in languages">
  <div class="col-md-3 p0">
    <img src="images/languages/java.png">
    <span>Non-Professional</span>
  </div>
  <div class="col-md-3 p0">
    <img src="images/languages/go.png">
    <span>On The Queue</span>
  </div>
  <div class="col-md-3 p0">
    <img src="images/languages/haskell.png">
    <span>On The Queue</span>
  </div>
  <div class="col-md-3 p0">
    <img src="images/languages/crystal.png">
    <span>On The Queue</span>
  </div>
</div>
<div class="row fade-in mt150 ">
  <div class="col-md-12 p50 bg-shark text-center">
    <div class="row">
      <div class="col-md-8">
        {{block-quote delay="+=1.1" quote="The greatest obstacle to international understanding is the barrier of language." from="Christopher Dawson"}}
        {{block-quote delay="+=1.4" quote="The conquest of learning is achieved through the knowledge of languages." from="Roger Bacon"}}
      </div>
      <div class="col-md-4">
        {{next-route route="about.experience" icon="briefcase" title="Experience"}}
      </div>
    </div>
  </div>
</div>