{{route-header title="LANGUAGES" icon="language" imgName="languages"}}
{{section-title title="Natural" icon="fa fa-comments"}}
<div class="row bg-shark p50 scale text-center">
  <div class="col-md-3">
    <h3>Bulgarian</h3>
    <p>Native</p>
  </div>
  <div class="col-md-3">
    <h3>English</h3>
    <p>Working level</p>
  </div>
  <div class="col-md-3">
    <h3>French</h3>
    <p>From High School</p>
  </div>
  <div class="col-md-3">
    <h3>Russian</h3>
    <p>Working level</p>
  </div>
</div>
{{section-title title="Programming" icon="fa fa-code"}}
<div class="row languages">
  <div class="col-md-3 p0">
    <img src="images/languages/php.png">
    <span>Full Professional</span>
  </div>
  <div class="col-md-3 p0">
    <img src="images/languages/node.png">
    <span>Full Professional</span>
  </div>
  <div class="col-md-3 p0">
    <img src="images/languages/c.png">
    <span>Non-Professional</span>
  </div>
  <div class="col-md-3 p0">
    <img src="images/languages/c++.png">
    <span>Non-Professional</span>
  </div>
</div>
<div class="row languages">
  <div class="col-md-3 p0">
    <img src="images/languages/java.png">
    <span>Non-Professional</span>
  </div>
  <div class="col-md-3 p0">
    <img src="images/languages/go.png">
    <span>On The Queue</span>
  </div>
  <div class="col-md-3 p0">
    <img src="images/languages/haskell.png">
    <span>On The Queue</span>
  </div>
  <div class="col-md-3 p0">
    <img src="images/languages/crystal.png">
    <span>On The Queue</span>
  </div>
</div>
<!-- <div class="row text-center">
  <div class="col-md-3 p50 col-md-offset-2 bg-shark">
    <h1>Full Professional</h1>
    <p>
      <a href="https://secure.php.net/" target="_blank">PHP</a>
    </p>
    <p>
      <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
        Javascript + Node
      </a>
    </p>
  </div>
</div>
<div class="row bg-shark p50 text-center">
  <div class="col-md-4">
    <h1>Non-Professional</h1>
    <p> <a href="https://www.java.com/en/" target="_blank">Java</a></p>
    <p> <a href="https://en.wikipedia.org/wiki/C_(programming_language)" target="_blank">C</a></p>
    <p> <a href="https://isocpp.org/" target="_blank">C++</a></p>
  </div>
  <div class="col-md-4">
    <h1>Also Interested In</h1>
    <p><a href="http://crystal-lang.org/" target="_blank">Crystal</a></p>
    <p><a href="https://www.haskell.org/" target="_blank">Haskell</a></p>
    <p><a href="https://golang.org/" target="_blank">Go</a></p>
  </div>
</div> -->
<div class="row mt150 ">
  <div class="col-md-12 p50 bg-shark text-center">
    <div class="row">
      <div class="col-md-8">
        {{block-quote delay="+=1.1" quote="The greatest obstacle to international understanding is the barrier of language." from="Christopher Dawson"}}
        {{block-quote delay="+=1.4" quote="The conquest of learning is achieved through the knowledge of languages." from="Roger Bacon"}}
      </div>
      <div class="col-md-4">
        {{next-route route="about.experience" icon="briefcase" title="Experience"}}
      </div>
    </div>
  </div>
</div>