<h2>Last Commit</h2>
<hr>
<div class="row bg-effect p50">
  <div class="col-xs-4">
    <p>Repo</p>
    <p>Repo URL</p>
    <p>Time</p>
    <p>Message</p>
    <p>Commit URL</p>
  </div>
  <div class="col-xs-8">
    <p>{{repoName}}</p>
    <p><a href="{{repoURL}}" target="_blank">{{repoURL}}</a></p>
    <p>{{time}}</p>
    <p>{{commitMessage}}</p>
    <p><a href="{{commitURL}}" target="_blank">{{commitURL}}</a></p>
  </div>
</div>
{{transiting-line}}
