<h2>Last Commit</h2>
<hr>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Property</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Repo</td>
      <td>{{repoName}}</td>
    </tr>
    <tr>
      <td>Repo URL</td>
      <td><a href="{{repoURL}}" target="_blank">{{repoURL}}</a></td>
    </tr>
    <tr>
      <td>Time</td>
      <td>{{time}}</td>
    </tr>
    <tr>
      <td>Message</td>
      <td>{{commitMessage}}</td>
    </tr>
    <tr>
      <td>Commit URL</td>
      <td><a href="{{commitURL}}" target="_blank">{{commitURL}}</a></td>
    </tr>
  </tbody>
</table>
