<h2>Portfolio</h2>
<hr>
<div class="row">
  <div class="col-md-12 bg-effect p50">
    <h3>Esrol</h3>
    <p>Esrol is an open source project, developed by me for creating cross-platform back-end applications. I'm using it in both work and personal projects.</p>
    <p>You can read more about it <a href="https://github.com/esrol/esrol-server-app/wiki" target="_blank">here</a>.</p>
  </div>
</div>
{{transiting-line}}
<hr>
<div class="row">
  <div class="col-md-12 bg-effect p50">
    <h3>Travel</h3>
    <p>Travel is an enterprise project for 7 different services: Flights, Hotels, Cars, Tours, Restaurants, and Clubs.</p>
    <p>I developed a working prototype (beta version), so the owner of the project can search for investors.</p>
    <p>The prototype has huge admin panel(CMS model). You can control everything from there. For example: flight destinations, campaigns for special offers, user access level, bookings, locations, cities, maintenance, emails, entity features, stats.</p>
    <p>Although, it's not appropriate to be written in Javascript(after all it's a prototype), I've implemented algorithms for creating customer flight route based on flights destinations and customer input. For example, If you want to reach point D from point A and there is no such flight, the system will try to search for available flights from A to B, B to C, C to D, so You can reach point D.</p>
    <p>Used technologies: HTML, CSS, Ember.js, Express.js, Redis, Apache Solr, MySQL</p>
    <p><i>Public access is restricted.</i></p>
    <button class="btn images-btn" {{action "show" "travel"}}>View Images</button>
  </div>
</div>
{{transiting-line}}
<hr>
<div class="row">
  <div class="col-md-12 bg-effect p50">
    <h3>E-Console</h3>
    <p>E-Console is a project, developed in microservice environment for creating orders and supervising stock levels distributed in multiple warehouses.</p>
    <p>A public API exists and it's integrated with E-Commerce platforms.</p>
    <p>It is used by the warehouse, inventory team, customers, and suppliers.</p>
    <p>Used technologies: HTML, CSS, Ember.js, Esrol, Redis, MySQL</p>
    <p><i>Public access is restricted.</i></p>
    <button class="btn images-btn" {{action "show" "eConsole"}}>View Images</button>
  </div>
</div>
{{transiting-line}}
<hr>
<div class="row">
  <div class="col-md-12 bg-effect p50">
    <h3>E-Ship</h3>
    <p>E-Ship is a platform for accessing orders from multi-channel listings, shipping(DROPSHIP or JIT) and manifesting operations.</p>
    <p>A public API exists and it's integrated with E-Commerce platforms, and couriers.</p>
    <p>It is used by the warehouse, inventory team, customers, customer support, and suppliers.</p>
    <p>Used technologies: HTML, CSS, Ember.js, Esrol, Redis, MySQL</p>
    <p><i>Public access is restricted.</i></p>
    <button class="btn images-btn" {{action "show" "eShip"}}>View Images</button>
  </div>
</div>
{{transiting-line}}
{{photo-swipe gallery=myGallery options=psOpts items=items}}
