{{route-header title="SERVICES" icon="list" imgName="services"}}

<div class="row mt150">
  <div class="row">
    {{circle-component title="RESPONSIVE DESIGN" icon="pencil"}}
    {{circle-component title="UI / UX" icon="image"}}
    {{circle-component title="DEVELOPMENT" icon="code"}}
    {{circle-component title="CUSTOMIZATION" icon="cogs"}}
  </div>
  <div class="row fade-in">
    {{circle-component title="SERVER DEPLOYMENT" icon="cloud"}}
    {{circle-component title="SERVICE INTEGRATION" icon="plug"}}
    {{circle-component title="E-COMMERCE SOLUTIONS" icon="shopping-cart"}}
    {{circle-component title="SOFTWARE PROTECTION" icon="shield"}}
  </div>
  <div class="row fade-in">
    {{circle-component title="RESEARCH" icon="flask"}}
    {{circle-component title="BRANDING" icon="rocket"}}
    {{circle-component title="PROJECT MANAGMENT" icon="sitemap"}}
    {{circle-component title="DEDICATION AND SUPPORT" icon="support"}}
  </div>
</div>

<div class="row mt150 fade-in">
  <div class="p50 col-md-5 text-right">
    <p class="bottom-contact">Want to hire me? You have to {{#link-to "about.contacts" }}contact{{/link-to}} me first.</p>
  </div>
  <div class="col-md-4 arrow-left col-md-offset-3 pull-right bg-shark p50">
    {{next-route route="about.influencers" icon="lightbulb-o" title="Influencers"}}
  </div>
</div>