{{route-header title="SERVICES" icon="list" imgName="services"}}

<div class="row mt150">
  <div class="row">
    {{circle-component title="RESPONSIVE DESIGN" icon="pencil"}}
    {{circle-component title="UI / UX" icon="image"}}
    {{circle-component title="DEVELOPMENT" icon="code"}}
    {{circle-component title="CUSTOMIZATION" icon="cogs"}}
  </div>
  <div class="row">
    {{circle-component title="SERVER DEPLOYMENT" icon="cloud"}}
    {{circle-component title="SERVICE INTEGRATION" icon="plug"}}
    {{circle-component title="E-COMMERCE SOLUTIONS" icon="shopping-cart"}}
    {{circle-component title="SOFTWARE PROTECTION" icon="shield"}}
  </div>
  <div class="row">
    {{circle-component title="RESEARCH" icon="flask"}}
    {{circle-component title="BRANDING" icon="rocket"}}
    {{circle-component title="PROJECT MANAGMENT" icon="sitemap"}}
    {{circle-component title="DEDICATION AND SUPPORT" icon="support"}}
  </div>
</div>

<div class="row bg-shark p50 mt150">
  <div class="col-md-8">
  </div>
  {{next-route route="about.influencers" icon="lightbulb-o" title="Influencers"}}
</div>