<h1>Technologies, frameworks, libraries, storage</h1>
<hr>
<div class="row bg-effect text-center">
  <div class="col-md-4 box">
    <h3><b>Frameworks</b></h3>
    <p>
      <a href="https://github.com/esrol/" target="_blank">Esrol.js</a>
    </p>
    <p>
      <a href="http://emberjs.com/" target="_blank">Embers.js</a>
    </p>
    <p>
      <a href="https://angular.io/" target="_blank">Angular.js</a>
    </p>
    <p>
      <a href="http://backbonejs.org/" target="_blank">Backbone.js</a>
    </p>
    <p>
      <a href="http://expressjs.com/" target="_blank">Express.js</a>
    </p>
    <p>
      <a href="https://symfony.com/" target="_blank">Symfony PHP</a>
    </p>
    <p>
      <a href="http://cakephp.org/" target="_blank">Cake PHP</a>
    </p>
    <p>
      <a href="https://www.codeigniter.com/" target="_blank">Codeigniter PHP</a>
    </p>
    <p>
      <a href="http://electron.atom.io/" target="_blank">Electron.js</a>
    </p>
    <p>
      <a href="https://www.qt.io/" target="_blank">QT</a>
    </p>
    <p><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></p>
    <br>
  </div>
  <div class="col-md-4 box">
    <h3><b>Web Servers</b></h3>
    <p><a href="http://nginx.org/" target="_blank">Nginx</a> </p>
    <p><a href="https://httpd.apache.org/" target="_blank">Apache</a> </p>
    <p><a href="http://tomcat.apache.org/" target="_blank">Tomcat</a> </p>
  </div>
  <div class="col-md-4 box">
    <h3><b>Libraries</b></h3>
    <p>
      Not limited to
      <a href="https://www.npmjs.com/browse/star" target="_blank">
       this
      </a>
    </p>
  </div>
</div>
{{transiting-line}}
<hr>
<div class="row bg-effect text-center">
  <div class="col-md-4 box ">
    <h3>Storages</h3>
    <p><a href="http://redis.io/" target="_blank">Redis</a></p>
    <p><a href="https://www.mongodb.org/" target="_blank">MongoDB</a></p>
    <p><a href="https://www.mysql.com/" target="_blank">MySQL</a></p>
    <p>
      <a href="http://www.transaction.de/en/products/transbase.html" target="_blank">
        Transbase
      </a>
    </p>
    <p><a href="http://lucene.apache.org/solr/" target="_blank">Solr</a></p>
  </div>
  <div class="col-md-4 box">
    <h3>Text Editor and IDE</h3>
    <p><a href="http://www.sublimetext.com/" target="_blank">Sublime</a></p>
    <p><a href="https://netbeans.org/" target="_blank">NetBeans</a></p>
    <p><a href="http://www.codeblocks.org/" target="_blank">CodeBlocks</a></p>
    <p><a href="https://notepad-plus-plus.org/" target="_blank">Notepad++</a></p>
  </div>
  <div class="col-md-4 box">
    <h3>OS</h3>
    <p>
      <a href="https://en.wikipedia.org/wiki/Microsoft_Windows" target="_blank">
        Win
      </a>
    </p>
    <p><a href="https://bg.wikipedia.org/wiki/Unix" target="_blank">Unix</a></p>
  </div>
</div>
{{transiting-line}}
<hr>
<div class="row bg-effect">
  <div class="col-md-12 box">
    <h3 class="text-center">APIs</h3>
    <p><a href="https://github.com/" target="_blank">Github</a></p>
    <p><a href="https://bitbucket.org/" target="_blank">Bitbucket</a></p>
    <p><a href="https://www.facebook.com/" target="_blank">Facebook</a></p>
    <p><a href="https://www.linkedin.com/" target="_blank">LinkedIn</a></p>
    <p><a href="https://www.google.com" target="_blank">Google</a></p>
    <p><a href="http://www.amazon.com/" target="_blank">Amazon</a></p>
    <p><a href="https://www.yahoo.com/" target="_blank">Yahoo</a></p>
    <p><a href="http://www.ebay.com/" target="_blank">eBay</a></p>
    <p><a href="http://www.linnworks.com/" target="_blank">Linnworks</a></p>
    <p><a href="https://www.volocommerce.com/" target="_blank">Volo Commerce (formerly eSellerPro)</a></p>
    <p><a href="http://www.rac.co.uk/" target="_blank">RAC</a></p>
    <p><a href="http://www.parcelhub.co.uk/" target="_blank">Parcelhub</a></p>
    <p><a href="http://www.vehicledataservices.co.uk/services.php" target="_blank">VRM UK</a></p>
    <p><a href="http://www.sabretravelnetwork.com/home/" target="_blank">Sabre</a></p>
    <p><a href="https://www.paypal.com" target="_blank">Paypal</a></p>
    <p> and many more..</p>
  </div>
</div>
{{transiting-line}}
<hr>
<div class="row bg-effect">
  <div class="col-md-12  tools">
    <h3 class="text-center">Tools</h3>
    <div class="col-md-2 box">
      <h4>Monitor</h4>
      <p><a href="http://nodemon.io/" target="_blank">Nodemon</a></p>
      <p><a href="https://github.com/petruisfan/node-supervisor" target="_blank">
          Supervisor
        </a></p>
    </div>
    <div class="col-md-2 box">
      <h4>Build</h4>
      <p><a href="http://gruntjs.com/" target="_blank">Grunt</a></p>
      <p><a href="https://travis-ci.org/" target="_blank">Travis CI</a></p>
      <p><a href="https://coveralls.io/" target="_blank">Coveralls</a></p>
    </div>
    <div class="col-md-2 box">
      <h4>Scaffolding</h4>
      <p><a href="http://yeoman.io/" target="_blank">Yeoman</a></p>
    </div>
    <div class="col-md-2 box">
      <h4>Code Quality</h4>
      <p><a href="http://eslint.org/" target="_blank">Eslint</a></p>
      <p><a href="http://jshint.com/" target="_blank">Jshint</a></p>
    </div>
    <div class="col-md-2 box">
      <h4>ES compiler</h4>
      <p><a href="https://babeljs.io/" target="_blank">Babel</a></p>
    </div>
    <div class="col-md-2 box">
      <h4>Inspector</h4>
      <p><a href="https://github.com/node-inspector/node-inspector" target="_blank">
          Node-inspector
        </a></p>
    </div>
    <div class="col-md-2 box">
      <h4>Tests</h4>
      <p><a href="https://phpunit.de/" target="_blank">PHPUnit</a></p>
      <p><a href="http://phantomjs.org/" target="_blank">PhantomJS</a></p>
      <p><a href="https://mochajs.org/" target="_blank">Mocha</a></p>
    </div>
    <div class="col-md-2 box">
      <h4>Test Coverage</h4>
      <p><a href="https://gotwarlost.github.io/istanbul/" target="_blank">
          Istanbul
        </a></p>
    </div>
    <div class="col-md-2 box">
      <h4>Documentation</h4>
      <p><a href="http://usejsdoc.org/" target="_blank">JSDoc</a></p>
      <p><a href="http://www.phpdoc.org/" target="_blank">phpDocumentor</a></p>
    </div>
    <div class="col-md-2 box">
      <h4>VCS</h4>
      <p><a href="https://git-scm.com/" target="_blank">Git</a></p>
    </div>
    <div class="col-md-2 box">
      <h4>Package Manager</h4>
      <p><a href="https://www.npmjs.com/" target="_blank">NPM</a></p>
      <p><a href="http://bower.io/" target="_blank">Bower</a></p>
      <p><a href="https://getcomposer.org/" target="_blank">Composer</a></p>
    </div>
  </div>
</div>
{{transiting-line}}
<hr>
<div class="row bg-effect">
  <div class="col-md-12 box">
    <h3>Notes</h3>
    <ul class="list-unstyled">
      <li><b>Esrol</b>: <i>One of my latest project</i></li>
      <li><b>Ember</b>: <i>makes your life easier - even for simple site like this one</i></li>
      <li><b>Angular</b>: <i>I won't say, that I'm never going to use it in production, but for the moment, Ember is a better choise</i></li>
      <li><b>Codeigniter</b>: <i>dark ages</i></li>
      <li><b>Electron.js</b>: <i>Unity</i></li>
      <li><b>QT</b>: <i>Unity</i></li>
      <li><b>Nginx</b>: <i>all the way</i></li>
      <li><b>Libraries</b>: <i>the list is just too long</i></li>
    </ul>
  </div>
</div>
{{transiting-line}}
