{{sliding-menu}}
<div id="name-container">
  <div class="col-md-6">
    {{lettering-effect word="Ivaylo"}}
  </div>
<!--   <div class="col-md-2 text-center">
    {{lettering-effect word="☆"}}
  </div> -->
  <div class="col-md-6">
    {{lettering-effect word="Ivanov"}}
  </div>
</div>
{{loading-slider isLoading=loading duration=250}}
{{liquid-outlet}}
{{on-scroll}}
{{cookie-policies}}
